{% extends 'base.html' %}{% from 'macros.html' import buildTable -%}
{% block head -%}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='themes/blue/style.css') }}" id="" media="print, projection, screen"/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.tablesorter.min.js') }}"></script>
    <script type="text/javascript">
        $("document").ready(function () {
            {% for server in servers -%}
                setModTable("#{{ server.name }}modTable");
            {% endfor %}
        });

        function setModTable(tableId) {
            $(tableId).tablesorter(
                    {
                        sortList: [
                            [0, 0]
                        ]
                    }).trigger("create");
        }
    </script>
{% endblock -%}
{% block content -%}
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            {% set active = "active" -%}
            {% for server in servers -%}
                <li class="{{ active }}"><a href="#{{ server.name }}Info" data-toggle="tab">{{ server.name }}</a></li>
                {% set active = "" %}
            {% endfor %}
            {% if g.user.admin -%}
            <li><a href="{{ url_for('create_update_server') }}">Add new...</a></li>
            {% endif -%}
        </ul>
        <div class="tab-content">
            {% set active = "active" -%}
            {% for server in servers -%}
                <div class="tab-pane {{ active }}" id="{{ server.name }}Info">
                    <h3>Minecraft: {{ mods[server.name]['minecraft'] }} (Latest: {{ update_info['Minecraft']['version'] }})</h3>
                    {% set mcVersion = mods[server.name]['minecraft'] -%}
                    <table id="{{ server.name }}modTable" class="table table-striped table-condensed table-bordered table-hover tablesorter">
                        <thead>
                            <tr>
                                <th style="width: 70%">Mod</th>
                                <th style="width: 10%" class="version">Installed</th>
                                <th style="width: 10%" class="version">Latest</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for value in mods[server.name] -%}
                                {% if value != "minecraft" and mods[server.name][value] != "na" -%}
                                    {% set modInfo = mods[server.name][value] -%}
                                    {% if update_info[value]['version'] != modInfo['version'] -%}
                                        <tr class="warning">
                                    {% else -%}
                                        <tr class="success">
                                    {% endif -%}
                                        <td><a href="{{ update_info[value]['url'] }}">{{ value }}</a></td>
                                        <td class="version">{{ modInfo['version'] }}</td>
                                        <td class="version">
                                        {% if update_info[value]['version'] != modInfo['version'] %}
                                            <i class="icon-circle-arrow-up"></i>
                                        {% endif %}
                                            {{ update_info[value]['version'] }}
                                        </td>
                                    </tr>
                                {% endif -%}
                            {% endfor -%}
                        </tbody>
                    </table>
                </div>
                {% set active = "" -%}
            {% endfor -%}
        </div>
    </div>
{% endblock -%}
