<div class="span3">
    <div class="well sidebar-nav">
        <ul id="serverList" class="nav nav-list">
            <li class="nav-header">Servers</li>
        </ul>
    </div>
</div>

<script type="text/javascript">
    $.getJSON('{{ url_for('server_info') }}', function(data) {
        console.log('fetched servers');
        var items = [];

        $.each(data, function(key, val) {
            $.each(val, function(index, server){
                console.log(server);
                items.push('<li class="serverLink"><a id="'+server.name+'ServerLink" data-related="'+server.name+'tableContainer">' + server.name + '</a></li>');
            });
        });
        {% if g.user.admin -%}
            items.push('<li><a class="btn" href="{{ url_for('create_update_server') }}">Add new...</a>');
        {% endif -%}

        $('#serverList').append(items.join(''));
        $('a','.serverLink').click(function(){
            var relatedDiv = $(this).attr('data-related');
            $("#"+relatedDiv).toggle();
        });
    });
</script>